<% form_for @assignment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :course_id %><br />
    <%= f.collection_select(:course_id, Course.find(:all), :id, :name)%>
  </p>
  <p>
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </p>
  <p>
    <%= f.label :points_possible %><br />
    <%= f.text_field :points_possible %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
